In [8]:
import os
os.environ["OPENAI_API_KEY"] = "your_api"

In [1]:
import logging
import sys

logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

In [2]:
from gpt_index import SimpleDirectoryReader
from IPython.display import Markdown, display

In [3]:
from gpt_index.indices.struct_store import GPTPandasIndex
import pandas as pd

In [6]:
df=pd.read_csv('csvdata/country_wise_latest.csv')
print(df.shape)
df.head()

(187, 15)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [9]:
index = GPTPandasIndex(df=df)

INFO:gpt_index.token_counter.token_counter:> [build_index_from_nodes] Total LLM token usage: 0 tokens
> [build_index_from_nodes] Total LLM token usage: 0 tokens
INFO:gpt_index.token_counter.token_counter:> [build_index_from_nodes] Total embedding token usage: 0 tokens
> [build_index_from_nodes] Total embedding token usage: 0 tokens

In [10]:
response = index.query(
    "which country has most number of confirmed cases?",
    verbose=True
)
display(Markdown(f"<b>{response}</b>"))

> Pandas Instructions:
```

df['Country/Region'][df['Confirmed'].idxmax()]
```
> Pandas Output: US
INFO:gpt_index.token_counter.token_counter:> [query] Total LLM token usage: 1257 tokens
> [query] Total LLM token usage: 1257 tokens
INFO:gpt_index.token_counter.token_counter:> [query] Total embedding token usage: 0 tokens
> [query] Total embedding token usage: 0 tokens

<b>US</b>

In [11]:
response = index.query(
    "which country has most number of Death cases?",
    verbose=True
)
display(Markdown(f"<b>{response}</b>"))

> Pandas Instructions:
```

df.sort_values(by='Deaths', ascending=False).iloc[0]['Country/Region']
```
> Pandas Output: US
INFO:gpt_index.token_counter.token_counter:> [query] Total LLM token usage: 1264 tokens
> [query] Total LLM token usage: 1264 tokens
INFO:gpt_index.token_counter.token_counter:> [query] Total embedding token usage: 0 tokens
> [query] Total embedding token usage: 0 tokens

<b>US</b>

In [12]:
response = index.query(
    "which country has most number of Death per 100 cases?",
    verbose=True
)
display(Markdown(f"<b>{response}</b>"))

> Pandas Instructions:
```

df.sort_values(by='Deaths / 100 Cases', ascending=False).iloc[0]['Country/Region']
```
> Pandas Output: Yemen
INFO:gpt_index.token_counter.token_counter:> [query] Total LLM token usage: 1269 tokens
> [query] Total LLM token usage: 1269 tokens
INFO:gpt_index.token_counter.token_counter:> [query] Total embedding token usage: 0 tokens
> [query] Total embedding token usage: 0 tokens

<b>Yemen</b>

In [14]:
df_day_wise=pd.read_csv('csvdata/day_wise.csv')
print(df_day_wise.shape)
df_day_wise.head()

(188, 12)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13

In [15]:
index = GPTPandasIndex(df=df_day_wise)

INFO:gpt_index.token_counter.token_counter:> [build_index_from_nodes] Total LLM token usage: 0 tokens
> [build_index_from_nodes] Total LLM token usage: 0 tokens
INFO:gpt_index.token_counter.token_counter:> [build_index_from_nodes] Total embedding token usage: 0 tokens
> [build_index_from_nodes] Total embedding token usage: 0 tokens

In [16]:
response = index.query(
    "At which year Confirmed and Death case is at its peak",
    verbose=True
)
display(Markdown(f"<b>{response}</b>"))

> Pandas Instructions:
```

df[df['Confirmed'] == df['Confirmed'].max()]['Date'].max()
```
> Pandas Output: 2020-07-27
INFO:gpt_index.token_counter.token_counter:> [query] Total LLM token usage: 1001 tokens
> [query] Total LLM token usage: 1001 tokens
INFO:gpt_index.token_counter.token_counter:> [query] Total embedding token usage: 0 tokens
> [query] Total embedding token usage: 0 tokens

<b>2020-07-27</b>